.gym__container {
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 24px;

  @include vp-1199 {
    padding: 102px 0;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 25px;
  }

  @include vp-767 {
    padding: 64px 0;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 15px;
  }
}

.gym__content {
  max-width: 355px;
  margin: 39px 0 10px 0;
  justify-self: end;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    margin-top: 0;
    max-width: 505px;
    justify-self: center;
    justify-content: center;
    text-align: center;
  }

  @include vp-767 {
    max-width: 100%;
    text-align: left;
  }
}

.gym__content h2 {
  margin: 0 0 7px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin: 0 0 0 -16px;
    font-size: 42px;
    line-height: 48px;
  }

  @include vp-767 {
    margin: 0 0 5px 0;
    font-size: 32px;
    line-height: 38px;
  }
}

.gym__content b {
  margin: 0 0 39px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.gym__content p {
  margin: 0 0 8px;
  font-weight: 300;

  @include vp-767 {
    padding-right: 30px;
  }

  &:nth-of-type(n+2) {
    @include vp-1199 {
      display: none;
    }
  }
}

.gym__media {
  justify-self: end;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.gym__image {
  @include vp-1199 {
    img {
      width: 100%;
    }
  }

  @include vp-767 {
    width: 100vw;
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }
}

.gym__video {
  margin-top: -17.1%;
  margin-left: -9.5%;
  width: 364px;
  height: 228px;

  img {
    width: 100%;
    object-fit: cover;
  }

  @include vp-1199 {
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-top: -12%;
  }

  @include vp-767 {
    width: 100vw;
    height: auto;
    margin: 0;
  }
}
