.subscription {
  position: relative;
  background-color: #f8f9fc;

  &::before {
    position: absolute;
    content: "";
    width: 287px;
    height: 494px;
    bottom: 0;
    right: 0;
    background: $color-transparent url("./../img/svg/barbell-disks.svg") no-repeat center;
  }
}

.subscription__container {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding: 100px 0 58px;
  }

  @include vp-767 {
    padding: 70px 0 70px;
  }
}

.subscription__controls {
  margin-bottom: 39px;
}

.subscription__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.subscription__item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.subscription__item-option {
  padding: 68px 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;
}

.subscription h2 {
  margin: 0 0 25px;
  font-weight: 600;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin: 0 0 35px;
    font-size: 32px;
    line-height: 38px;
  }
}

.subscription h3 {
  margin: 0 0 22px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    margin: 0 0 20px;
    font-size: 02px;
    line-height: 24px;
  }
}

.subscription b {
  margin: 0 0 96px;
  font-weight: 400;
}

.subscription__price {
  position: relative;
  margin: 0 0 59px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 2;
}

.subscription__price span {
  position: absolute;
  top: -50%;
  left: -19px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: #e8e8e8;
  z-index: -1;
}
