.subscription {
  position: relative;
  padding-bottom: 72px;
  background: linear-gradient(to top, $color-default-white 8%, #f8f9fc 8%);
  overflow-x: hidden;
  overflow-y: visible;

  @include vp-1199 {
    padding-bottom: 98px;
    background: linear-gradient(to top, $color-default-white 3%, #f8f9fc 3%);
  }

  @include vp-767 {
    padding-bottom: 0;
    background: #f8f9fc;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: $color-transparent url("./../img/svg/barbell-disks.svg") no-repeat center;
    background-position: bottom -80px right -184px;

    @include vp-1199 {
      background-size: 423px;
      background-position: bottom -71px right -76px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscription__container {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    padding: 101px 0 58px;
  }

  @include vp-767 {
    padding: 64px 0 70px;
  }
}

.subscription h2 {
  margin: 0 0 21px;
  font-weight: 600;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin: 0 0 23px -14px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin: 0 0 25px -10px;
    font-size: 32px;
    line-height: 38px;
  }
}

.subscription__controls {
  position: relative;
  margin-bottom: 54px;
  display: flex;
  gap: 47px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    gap: 55px;
    margin-bottom: 59px;
  }

  @include vp-767 {
    gap: 45px;
    margin-bottom: 50px;
  }
}

.subscription__button {
  position: relative;
  padding: 0;
  font-size: 20px;
  color: rgba(16, 38, 84, 0.5);
  border: none;
  background-color: $color-transparent;
  cursor: pointer;

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  @include hover-focus {
    color: $color-sapphire;
  }
}

.subscription__controls > .is-active {
  color: $color-sapphire;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -16px;
    width: 100%;
    height: 2px;
    background-color: #d10a42;
  }
}

.subscription__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.subscription__item {
  width: 100%;
}

.subscription__item-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    padding: 0 118px;
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    padding: 0;
    gap: 34px;
  }
}

.subscription__item-option {
  padding: 56px 40px;
  min-height: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-default-white;
  border: 7px solid $color-transparent;

  @include vp-767 {
    min-height: 384px;
    padding: 44px 30px;
  }

  &:hover {
    border-color: #00359f;
    border-image: linear-gradient(to left top, #00359f, #d10a42) 1;
  }

  &:focus-within {
    border-color: #00359f;
    border-image: linear-gradient(to left top, #00359f, #d10a42) 1;
  }
}

.subscription h3 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  text-align: center;

  @include vp-767 {
    margin: 0 0 9px;
    font-size: 22px;
    line-height: 24px;
  }
}

.subscription b {
  margin: 0 0 65px;
  font-weight: 400;

  @include vp-767 {
    margin-bottom: 46px;
  }
}

.subscription__price {
  position: relative;
  margin: 0 0 32px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 2;

  @include vp-767 {
    margin: 0 0 20px 3px;
    font-size: 48px;
    gap: 10px;

    svg {
      width: 24px;
      height: 33px;
    }
  }
}

.subscription__price span {
  position: absolute;
  top: -32%;
  left: -19px;
  min-height: 66px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: #e8e8e8;
  z-index: -1;

  @include vp-767 {
    font-size: 80px;
  }
}

.subscription__link {
  padding: 26px 45px;
  color: $color-sapphire;
  border: none;
  outline: 2px solid $color-sapphire;
  transition: none;

  @include hover {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $color-default-white;
    outline: none;
  }

  @include focus {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: $color-default-white;
    outline: none;
  }
}
