.video {
  position: relative;
  cursor: pointer;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  padding: 0;
  padding-left: 3px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border-radius: 100%;
  border: none;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 0 10px transparent;
  cursor: pointer;
  display: none;

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: $color-transparent url("./../img/svg/play-circle.svg") no-repeat center;
    background-size: cover;
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    &::before {
      width: 73px;
      height: 73px;
    }
  }

  &:hover,
  &:focus {
    svg {
      transform: translateX(1px) scale(1.2);
    }
  }
}

.is--active .video__button {
  display: flex;
}

.video:hover .video__button-icon {
  transform: translateX(1px) scale(1.2);
  transition: transform 0.03s ease-in-out;
}

.video__frame {
  width: 100%;
  height: 100%;
  border: none;
}
